@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

*{
  font-family: 'Original Surfer', cursive;
}

.App {
  text-align: center;
}

h1{
  margin-bottom: 0;
  font-size: 72px;
  color: aliceblue;
} 